<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>坚振</title>
    <link rel="stylesheet" href="/src/css/common.css">
    <link rel="stylesheet" href="/src/css/account.css">
</head>
<body>


<div class="page-title">
    <div class="container">
        1、问：坚振是什么？
    </div>
    <div>
        答：主亲定的圣事，为赋天主圣事与领坚振的人，坚固其心，做主的勇兵，使其能以言行证明自己的信德
    </div>
    <div class="container">
        2、问：坚振有什么效验
    </div>
    <div>
        答：赋予天主圣神的七恩
    </div>
    <div class="container">
        3、问：七恩是什么
    </div>
    <div>
        答：<ul>主赋予人的灵魂的七样美德
                <li>敬畏</li>
                <li>孝爱</li>
                <li>聪敏</li>
                <li>刚毅</li>
                <li>超见</li>
                <li>明达</li>
                <li>上智</li>
            </ul>
    </div>
    <div class="container">
        4、问：坚振要不要紧
    </div>
    <div>
        答：不全是要紧的，但教友能领却故意不领的便有罪
    </div>
    <div class="container">
        5、问：坚振请什么人做代父代母
    </div>
    <div>
        答：领过坚振，明代本分，在教会中立好表样的人
    </div>
    <div class="container">
        6、问：预备坚振
    </div>
    <div>
        答：<ul>
                <li>通达事例，明白坚振的道理</li>
                <li>本堂圣父跟前考明、求准、领坚振的凭据</li>
                <li>前几日努力行善工</li>
                <li>若有大罪，妥当告解</li>
            </ul>
    </div>
    <div class="container">
        6、问：本分
    </div>
    <div>
        答：<ul>
                <li>发勇德，忍受侍奉天主时所遇到的艰难</li>
                <li>不怕进好教友的本分</li>
                <li>开导异端人和不守规矩的冷淡教友</li>
            </ul>
    </div>
</div>

<!--注册弹窗-->



</body>
</html>